{% extends 'base.html' %}
<title>{% block title %}Percent Counting{% endblock %}</title>
{% block content %}
<div class="container-sm mt-4">
    <h1>Calculate the percentage of a number</h1>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group mt-4 w-10">
            <label for="input1">Enter a number</label>
            <input type="number" name="number" placeholder="Number" class="form-control" id="input1" required>
        </div>

        <div class="form-group mt-3">
            <label for="input2">Enter percent</label>
            <input type="number" name="percent" placeholder="Percent" class="form-control" id="input2" required>
        </div>
        <button type="submit" class="btn btn-primary mt-2">Submit</button>
    </form>

    <div class="card mt-4 p-3">
        {% if percent %}
            <div class="form-group mt-3">
                <label for="input3">{{ percent }} percent of the number {{ number }}</label><br>
                <p style="width: 200px;" class="btn btn-success mt-2">{{ percent_value }}</p>
            </div>
            <div class="form-group mt-3">
                <label for="input3">{{ percent }}% reduction</label><br>
                <p style="width: 200px;" class="btn btn-success mt-2">{{ residual_value }}</p>
            </div>
            <div class="form-group mt-3">
                <label for="input3">{{ percent }}% increase</label><br>
                <p style="width: 200px;" class="btn btn-success mt-2">{{ value_increase }}</p>
            </div>
        {% else %}
            <div class="form-group mt-3">
                <label for="input3">Percent of number</label><br>
                <p style="width: 200px;" class="btn btn-success mt-2">0</p>
            </div>
            <div class="form-group mt-3">
                <label for="input3">Percentage deincrease</label><br>
                <p style="width: 200px;" class="btn btn-success mt-2">0</p>
            </div>
            <div class="form-group mt-3">
                <label for="input3">Percentage increase</label><br>
                <p style="width: 200px;" class="btn btn-success mt-2">0</p>
            </div>
        {% endif %}
    </div>

</div>

{% endblock %}